# EightmanServices app
type eightmanservices, domain;
app_domain(eightmanservices)
gpu_access(eightmanservices)

allow eightmanservices hal_cpu_hwservice:hwservice_manager find;
allow eightmanservices hal_cpu_default:binder call;

# Use system services exposed as part of Android framework public API
allow eightmanservices app_api_service:service_manager find;

# Read and write /data/data subdirectory (for its app-private persistent data).
allow eightmanservices app_data_file:dir create_dir_perms;
allow eightmanservices app_data_file:{ file lnk_file } create_file_perms;

allow eightmanservices cpu_service:service_manager find;
allow eightmanservices hal_cpu_service:binder call;
